:root {
	--primary-font: #222222;
	--primary-color: #fe5303;
	--gray: #828282;
	--gray-gray: #4f4f4f;
	--light-gray: #bdbdbd;
	--light-light-gray: #f2f2f2;
	--white: #ffffff;
	--heading-font: "Playfair Display", serif;

	--space-xs: 8px;
	--space-sm: 12px;
	--space-md: 16px;
	--space-lg: 24px;
	--space-xl: 40px;
	--space-2xl: 50px;
}
